[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
alembic = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
passlib = "*"
bcrypt = "*"
mysqlclient = "==2.1.1"
mysql-connector-python = "==8.0.32"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"

[scripts]
start = "gunicorn -c gunicorn_conf.py  app.main:app"
